<%= form_for @user do |f| %>
<% if @user.errors.any? %>
  <h2><%= pluralize(@post.errors.count, "error")%> prevented this post from saving</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<!-- <h1><%= User.find_by_email(current_user.email) %></h1>
<div style="display: none;">

<%= f.text_field :user, :value => User.find_by_email(current_user.email)  %>



</div> -->

  <p>
    <%= f.label :first_name %> </br>
    <%= f.text_field :first_name %> </br>
  </p>

    <p>
      <%= f.label :last_name %> </br>
      <%= f.text_field :last_name %> </br>
    </p>

  <p>
    <%= f.label :last_name %> </br>
    <%= f.text_field :last_name %> </br>
  </p>


    <p>
      <%= f.label :about %> </br>
      <%= f.textarea :about %> </br>
    </p>


  <p>
    <%= f.submit %>
  </p>
<% end %>
