<!DOCTYPE html>
<html>
<head>
  <title>Simple Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="sidebar">

  <div id="navigation">
    <div id="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo-green.png" %>
      <% end %>
    </div>

    <ul>
      <li class="category">Website</li>
      <li><%= link_to "Blog", root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>

    <ul>
      <% if user_signed_in? %>
      <li class="category">Hello, <%= current_user.email.split('@')[0] %> </li>
        <% if current_user.admin? %>
          <li class="nav_link"><%= link_to "Dashboard", dashboard_path %> </li>
        <% end %>
      <li class="nav_link"><%= link_to 'Logout', destroy_user_session_path, :method => :delete %> </li>
      <% else %>
        <div class="nav_link"><%= link_to('Login', new_user_session_path)  %></div>
      <% end %>
    </ul>
  </div>


  <div class="social">
      <span><a href="https://twitter.com/skylerto"> <%= image_tag "sm/twitter.png", :class => "social_media" %> </a></span>
      <span><a href="https://github.com/skylerto"><%= image_tag "sm/github.png", :class => "social_media" %> </a></span>
      <span><a href="mailto:skylerclayne@gmail.com"><%= image_tag "sm/mail.png", :class => "social_media" %> </a></span>
    </ul>
  </div>

</div>

<div id="main_content">
  <div id="header">
    <% if current_page?(root_path) %>
      <p>All Posts</p>
    <% elsif current_page?(about_path) %>
      <p>About</p>
    <% else %>
      <%= link_to "Back to All posts", root_path %>
    <% end %>

    <div class="buttons">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <span class="nav_link"><%= link_to "Dashboard", dashboard_path %> </span>
        <% end %>
        <span class="nav_link"><%= current_user.email.split('@')[0].capitalize %>, <%= link_to 'Logout', destroy_user_session_path, :method => :delete %> </span>

      <% else %>
        <div class="nav_link"><%= link_to('Login', new_user_session_path)  %></div>
      <% end %>
    </div>
  </div>
  </div>

  <div id="admin">
  <div id="admin_header">
    <p><%= current_user.email.split('@')[0].capitalize %>'s Dashboard</p>
    <div class="buttons">
      <span class="nav_link"><%= link_to "Posts", dashboard_posts_path %> </span>
      <span class="nav_link"><%= link_to "Users", dashboard_users_path %> </span>
      <span class="nav_link"><%= link_to 'Comments', dashboard_path %> </span>
    </div>
  </div>

  <% flash.each do |name, msg| %>
   <%= content_tag(:div, msg, class: "alert") %>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
